<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="component.css">
    <title>Document</title>
</head>
<body>
    <h1>Outline Buttons</h1>

    <button class="btn success">Success</button>
    <button class="btn info">Info</button>
    <button class="btn warning">Warning</button>
    <button class="btn danger">Danger</button>
    <button class="btn default">Default</button>


    <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <h2>Front Side</h2>
          </div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
    
</body>
</html>